<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <pagenotfound>
            <general>
                <enabled>1</enabled>
                <included_params_redirect/>
                <included_params_from_url/>
                <exclude_list>wp-content,wp-admin,.htaccess,robots.txt,favicon.ico,apple-touch-icon,sitemap.xml,wp-json,wp-includes,wp-config.php,license.txt,admin,phpmyadmin,backup,backups,old,test,tmp,temp,index.html,index.php</exclude_list>
            </general>
            <cron_config>
                <is_cron_enabled>0</is_cron_enabled>
                <days_to_clean>90</days_to_clean>
                <delete_not_empty_redirect>0</delete_not_empty_redirect>
            </cron_config>
        </pagenotfound>
    </default>
</config>
