<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="controller_action_predispatch_cms_noroute_index">
		<observer instance="Experius\PageNotFound\Observer\Controller\ActionPredispatch" name="experius_pagenotfound_observer_controller_actionpredispatch_controller_action_predispatch"/>
	</event>
</config>
